.line_left {
    margin-left: -0.55rem;
    left: 0.55rem;
}
.line_right {
    margin-right: -0.55rem;
    right: 0.55rem;
}

@responsive {
    @screen md {
        .line_left {
            margin-left: -0.65rem;
            left: 0.65rem;
        }
        .line_right {
            margin-right: -0.65rem;
            right: 0.65rem;
        }
    }
    @screen xl {
        .line_left {
            margin-left: -0.7rem;
            left: 0.7rem;
        }
        .line_right {
            margin-right: -0.7rem;
            right: 0.7rem;
        }
    }
}
