{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "import"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "import/no-default-export": 2,
    "import/order": ["error", {"groups": ["builtin", "external", "internal","parent", "sibling", "index"]}],
    "no-unused-vars": "warn"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": "webpack"
  },
  "globals": {
    "page": true,
    "browser": true,
    "context": true
  }
}
