@import 'react-toastify/dist/ReactToastify.min.css';

/** Used to define container behavior: width, position: fixed etc... **/
.Toastify__toast-container {
}

/** Classes for the displayed toast **/
.Toastify__toast {
    @apply text-center text-lg;
    @apply rounded-sm;
    @apply shadow-lg;
    min-height: 58px;
    font-family: 'Roboto', sans-serif;
}

.Toastify__toast--rtl {
}
.Toastify__toast--dark {
}
.Toastify__toast--default {
}
.Toastify__toast--info {
}
.Toastify__toast--success {
    @apply bg-green-400;
}
.Toastify__toast--warning {
}
.Toastify__toast--error {
    @apply bg-red-300;
}

.Toastify__close-button {
    @apply hidden;
}

@responsive {
    @screen sm {
        .Toastify__toast {
            @apply font-normal text-base;
        }
    }
    @screen md {
        .Toastify__close-button {
            @apply block;
        }
    }
    @screen lg {
        .Toastify__toast {
            min-height: 64px;
        }
    }
}
