.card {
    font-size: 1.7vw;
}

@responsive {
    @screen lg {
        .card {
            font-size: 1.5vw;
        }
    }
    @sreen xl {
        .card {
            font-size: 1.4vw;
        }
    }
}
