.card {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 2rem 1rem;
    border: 3px solid dimgray;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    font-size: 2em;
}

.card--opened {
    opacity: 0.5;
    background-color: dimgray;
    color: white;
}

.card--red {
    background-color: indianred;
    color: white;
}

.card--blue {
    background-color: cornflowerblue;
    color: white;
}

.card--killer {
    background-color: #2b2b2b;
    color: white;
}

